body {
    background-color: black;
    color: lime;
    font-family: monospace;
    margin: 0;
    padding: 20px;
}

#terminal {
    height: 100vh;
    overflow-y: auto;
}

input {
    border: none;
    background: none;
    color: lime;
    width: 100%;
    outline: none;
}
